.header
    min-height: rem(500px)
    background: url(../img/bg_for_header.png)
    background-position: center
    padding-top: rem(128px)
    box-sizing: border-box

    &__title
        color: #ffffff
        margin-left: rem(150px)