.news
    background: #cecece
    font-family: "OpenSans", sans-serif
    font-style: italic
    padding-bottom: 50px

    &__title
        font-family: "BebasNeue", sans-serif
        font-weight: 600
        color: #000
        font-size: rem(48px)
        text-align: center
    &__latest
        display: inline-block
        width: 500px
        float: left
        margin-right: rem(30px)
    &__tags
        width: 500px
        overflow: hidden

.latest__date
    display: inline-block
    background: #00A586
    padding: rem(5px) rem(20px)
.latest__glamour
    float: right
    width: rem(143px)
    color: #FF4B39
    a
        text-decoration: none
        color: #FF4B39        
    img
        float: left
        margin-top: rem(3px)
.latest__title
    color: #00A586
    padding: rem(20px) 0 rem(5px) 0
.latest__img
    width: 100%
    margin-bottom: rem(20px)
    border-radius: rem(5px)

.latest__paraph
    color: #666767
.latest__link
    text-decoration: none
    float: right
.latest__read-more
    color: #FF4B39
    font-size: rem(14px)
    float: left
.latest__arrow
    margin-top: rem(3px)


.tags__title
    color: #00A586
    font-weight: bold
.tags__list
    list-style-type: none
    display: flex
    justify-content: center
    padding-left: 0px
    margin-bottom: rem(60px)

    .tags__item
        background: #00A586
        padding: rem(5px) rem(10px)
        margin-right: rem(6px)
        transition: .5s
        &:hover
            background: #e2534b
    
    a
        text-decoration: none
        color: #fff
.tags__title-second
    font-size: rem(20px)
    font-style: italic
    color: #818181
    margin-bottom: rem(25px)
    span
        font-weight: bold
        color: #000000
        font-size: rem(24px)
        font-style: normal
.tags__blog
    height: rem(70px)
    margin-bottom: rem(20px)
    .blog__img
        margin-right: rem(20px)
        float: left
    .blog__date
        color: #dd6f69