.portfolio
    font-family: "BebasNeue", sans-serif
    font-weight: 600
    color: #fff
    background: #00BB99
    text-align: center
    &__title
        margin-top: rem(60px)
        margin-bottom: rem(18px)
        font-size: rem(48px)
    &__litle-title
        font-size: rem(24px)

.portfolio__container
    width: 1100px
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-rows: 255px  255px 350px 235px 235px 235px
.portfolio__block1
    background: url(../img/)
